#eg-path,
#in-path,
#br-path,
#uy-path,
#us-path,
#du-path,
#nz-path {
  cursor: pointer;
}
#contact-map {
  #map-wrapper {
    display: flex;
    justify-content: center;
    background: url("../../../../assets//img/map-bg.png");
  }
  .-explore-map-text {
  }
}
