.halal-Users-wrapper {
  .-halal-Users-content {
    .--halal-Users-title {
      font-size: 100px;
    }
    .--halal-Users-img-cover {
      .---halal-Users-img {
      }
    }
  }
  @media screen and (min-width: 1201px) and (max-width: 1440px) {
    .-halal-Users-content {
      .--halal-Users-title {
        font-size: 80px;
      }
      .--halal-Users-img-cover {
        .---halal-Users-img {
        }
      }
    }
  }
  @media screen and (min-width: 994px) and (max-width: 1200px) {
    .-halal-Users-content {
      .--halal-Users-title {
        font-size: 60px;
      }
      .--halal-Users-img-cover {
        .---halal-Users-img {
        }
      }
    }
  }
  @media screen and (min-width: 769px) and (max-width: 993px) {
    .-halal-Users-content {
      .--halal-Users-title {
        font-size: 50px;
      }
      .--halal-Users-img-cover {
        .---halal-Users-img {
        }
      }
    }
  }
  @media screen and (min-width: 577px) and (max-width: 768px) {
    .-halal-Users-content {
      .--halal-Users-title {
        font-size: 40px;
      }
      .--halal-Users-img-cover {
        .---halal-Users-img {
        }
      }
    }
  }
  @media screen and (min-width: 0) and (max-width: 576px) {
    .-halal-Users-content {
      .--halal-Users-title {
        font-size: 30px;
      }
      .--halal-Users-img-cover {
        .---halal-Users-img {
        }
      }
    }
  }
}
