.main-card {
  border-top-left-radius: 1.5rem;
}

.main-card {
  &.rtl {
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 0;
  }
}

.rtl-direction {
  direction: ltr;
}

@media (max-width: 767px) {
  .main-card {
    border-radius: 2rem;
  }
}

.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;

  li {
    background-color: #fff;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    transition: all 0.5s ease-in-out;

    button {
      height: 8px;
    }
    button::before {
      color: transparent;
      height: 8px;
    }
  }
}

.slick-dots li.slick-active {
  width: 30px;
  border-radius: 4px;
  background-color: #c09300;
  height: 8px;
}
.slick-dots li.slick-active button:before {
  color: transparent;
  height: 8px;
}
.slick-dots {
  @media (min-width: 767px) {
    bottom: 25px;
    width: fit-content;
  }
}
